.recordHeader {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding-block: 1rem;
    color: var(--black);
    border-bottom: solid rgba(255, 255, 255, 0.232) 1px;
    background: rgb(190, 76, 76);
}

.mainRecordContainer {
    height: 84vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopRecord {
    background: var(--gray);
    background-color: #be4c4c;
    transform: scale(.9);
    font-size: 1.2rem;
    margin: 1rem;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    transition: background-color .5s, box-shadow .5s, transform .5s;

}

.recContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mic {
    background-color: #be4c4c;
    margin: 3rem;
    transform: scale(2);
    box-shadow: 0px 0px 10px 0px #000000b9;
}

.playAll {
    background-color: #be4c4c;
    transform: scale(.9);
    font-size: 1.2rem;
    margin: 1rem;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    transition: background-color .5s, box-shadow .5s, transform .5s;
}

.playAll:hover {
    background-color: #be4c4c;
}


.recordBtn {
    background-color: #be4c4c;
    font-size: 1.2rem;
    color: #272727;
    border: none;
    margin: 1rem;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px 0px #000000b9;
    transition: background-color .5s, box-shadow .5s, transform .5s;
}

.recordBtn:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.recordBtn:active {
    transform: scale(1);
}

.playbackBtnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play {
    margin: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px 10px #00000088;
    border-radius: 2rem;
    /* transform: scale(2.0); */
    filter: invert(15%);

}

.singleRecording {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

