@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.mainHeaderContainer {
    width: 100%;
}

:root {
    --black: #000;
    --gray: #a1a1a1;
    --red: #be4c4c;
}

h1 {
    font-size: 4rem;
    margin: 0;
    padding-left: 1rem;
}

.logoTop {
    /* background-color: var(--black); */
    max-width: 3%;
    margin-left: 1rem;
    margin-block: .25rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logoTop:hover {
    transform: scale(1.2);
}

.headerNav {
    display: flex;
    align-items: flex-end;
    /* padding: 1rem 0; */
    background-color: var(--black);
    border-bottom: solid black;
    color: var(--gray);
}

.hamburgerMenu {
    display: flex;
    /* display: none; */
}